certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
comtypes==1.4.16
darkdetect==0.8.0
idna==3.19
mouse==0.7.1
numpy==2.5.3
ok-d3dshot==0.1.5
onnxocr-ppocrv5==0.0.22
OpenCC==1.2.0
opencv-python==5.0.0.93
openvino==2026.3.1
openvino-telemetry==2025.2.0
packaging==26.3
pillow==12.3.0
psutil==7.2.2
pyappify==1.0.13
pycaw==20240210
pyclipper==1.4.0
PyDirectInput==1.0.4
pynput==1.8.2
PySide6==6.11.2
PySide6-Fluent-Widgets==1.11.3
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
PySideSix-Frameless-Window==0.8.2
pywin32==311
requests==2.34.2
shapely==2.1.2
shiboken6==6.11.2
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
